<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen text-white relative overflow-hidden">

   <div style="background-image: url(<%= asset_path('earth.png') %>);" 
     class="bg-cover h-screen">

<nav class="">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
  <div class="bg-white rounded-lg p-1">
      <img src="<%= asset_path('icon.svg')%>" class="h-7" alt="Flowbite Logo" />
  </div>
      <span class="self-center text-2xl font-[Inria Sans] whitespace-nowrap dark:text-white">Maze</span>
  </a>
  </div>
</nav>

<hr>

        <!-- Hero Section -->
        <main class="container mx-auto px-6 pt-20 pb-32 text-center">
            <h1 class="text-2xl md:text-3xl font-Poppins mb-6 leading-tight text-white">
                Social media shared today,<br> tomorrow or by location
            </h1>
            
            <p class="text-xl text-gray-300 mb-12">
                Discover with Maze
            </p>

            <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
                <button onclick="window.location.href='/signup'" class="px-5 py-2 bg-blue-500 hover:bg-blue-600 rounded-md text-white font-[Poppins] transition-colors w-full sm:w-auto">
                    Create account
                </button>
                <span class="text-gray-400">or</span>
                <button onclick="window.location.href='/login'" class="px-12 py-2 bg-white hover:bg-gray-100 rounded-md text-blue-500 font-[Poppins] transition-colors flex items-center justify-center gap-2 w-full sm:w-auto">
                    Login
                </button>
            </div>

        </main>
    </div>

  </div>

</body>
</html>

